.git
.cursor
*.pyc
__pycache__
.venv
venv
.env
.env.*
ticketmanager/.venv
ticketmanager/.ruff_cache
ticketmanager/data
agentmanager/.venv
agentmanager/.ruff_cache
agentmanager/data
messagequeue/.venv
messagequeue/.ruff_cache
messagequeue/data
*.db
