Rose/commands.index
Rose/requirements.txt
Rose/saved_variables.json

**/__pycache__/**
.venv/**
.pytest_cache/**
.ruff_cache/**
.mypy_cache/**
.vscode/**
.idea/**
.env/**
.env.local/**
.env.development.local/**
.env.test.local/**
.env.production.local/**
.env.development/**
.env.test/**